In [1]:
import pandas as pd

In [2]:
DEMAND=pd.read_excel('DATA_ROUND2_SCHACKFEST2022.xlsx',sheet_name='1_DEMAND')
DEMAND

              ITEM  JAN_2023  FEB_2023  MAR_2023  APR_2023  MAY_2023  JUN_2023
0  THỨC_ĂN_CHO_HEO        18        22        30        25        24        27
1   THỨC_ĂN_CHO_CÁ        16        21        22        23        23        26

In [3]:
DEMAND=DEMAND.rename(columns={'JAN_2023':'2023-01',
                      'FEB_2023':'2023-02',
                      'MAR_2023':'2023-03',
                      'APR_2023':'2023-04',
                      'MAY_2023':'2023-05',
                      'JUN_2023':'2023-06'})
DEMAND

              ITEM  2023-01  2023-02  2023-03  2023-04  2023-05  2023-06
0  THỨC_ĂN_CHO_HEO       18       22       30       25       24       27
1   THỨC_ĂN_CHO_CÁ       16       21       22       23       23       26

In [4]:
DEMAND=DEMAND.melt('ITEM')
DEMAND=DEMAND.rename(columns={'variable':'DEMAND_MONTH','value':'DEMAND_QTY'})
DEMAND['DEMAND_MONTH']=DEMAND['DEMAND_MONTH'].astype('string')
DEMAND

               ITEM DEMAND_MONTH  DEMAND_QTY
0   THỨC_ĂN_CHO_HEO      2023-01          18
1    THỨC_ĂN_CHO_CÁ      2023-01          16
2   THỨC_ĂN_CHO_HEO      2023-02          22
3    THỨC_ĂN_CHO_CÁ      2023-02          21
4   THỨC_ĂN_CHO_HEO      2023-03          30
5    THỨC_ĂN_CHO_CÁ      2023-03          22
6   THỨC_ĂN_CHO_HEO      2023-04          25
7    THỨC_ĂN_CHO_CÁ      2023-04          23
8   THỨC_ĂN_CHO_HEO      2023-05          24
9    THỨC_ĂN_CHO_CÁ      2023-05          23
10  THỨC_ĂN_CHO_HEO      2023-06          27
11   THỨC_ĂN_CHO_CÁ      2023-06          26

In [5]:
DEMAND_THANG1=DEMAND[DEMAND['DEMAND_MONTH'].str.contains('2023-01')]
DEMAND_THANG1

              ITEM DEMAND_MONTH  DEMAND_QTY
0  THỨC_ĂN_CHO_HEO      2023-01          18
1   THỨC_ĂN_CHO_CÁ      2023-01          16

In [6]:
DEMAND=DEMAND.drop(0)
DEMAND=DEMAND.drop(1)
DEMAND

               ITEM DEMAND_MONTH  DEMAND_QTY
2   THỨC_ĂN_CHO_HEO      2023-02          22
3    THỨC_ĂN_CHO_CÁ      2023-02          21
4   THỨC_ĂN_CHO_HEO      2023-03          30
5    THỨC_ĂN_CHO_CÁ      2023-03          22
6   THỨC_ĂN_CHO_HEO      2023-04          25
7    THỨC_ĂN_CHO_CÁ      2023-04          23
8   THỨC_ĂN_CHO_HEO      2023-05          24
9    THỨC_ĂN_CHO_CÁ      2023-05          23
10  THỨC_ĂN_CHO_HEO      2023-06          27
11   THỨC_ĂN_CHO_CÁ      2023-06          26

In [7]:
SUPPLY_SOH=pd.read_excel('DATA_ROUND2_SCHACKFEST2022.xlsx',sheet_name='3_SUPPLY-SOH')
SUPPLY_SOH

              ITEM  TỒN KHO CUỐI NGÀY 31/12/2022 ĐƠN VỊ HẠN SỬ DỤNG
0            KHOAI                         10000     kg  2023-02-12
1              SẮN                          3000     kg  2023-02-27
2   XƯƠNG_ĐỘNG_VẬT                          2000     kg  2023-01-26
3     BỘT_ĐỖ_TƯƠNG                          9000     kg  2023-02-20
4      MEN_VI_SINH                           200    lít  2023-01-25
5              NGÔ                         12000     kg  2023-02-02
6             THÓC                         13000     kg  2023-03-03
7  BAO_BÌ_ĐÓNG_GÓI                          1220    cái  2023-01-30
8  THỨC_ĂN_CHO_HEO                          7000     kg  2023-01-27
9   THỨC_ĂN_CHO_CÁ                          8000     kg  2023-01-30

In [8]:
SUPPLY_SOH['NGÀY VỀ']='2022-12-31'
SUPPLY_SOH

,ITEM,TỒN KHO CUỐI NGÀY 31/12/2022,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ
0,KHOAI,10000,kg,2023-02-12,2022-12-31
1,SẮN,3000,kg,2023-02-27,2022-12-31
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31
5,NGÔ,12000,kg,2023-02-02,2022-12-31
6,THÓC,13000,kg,2023-03-03,2022-12-31
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31
8,THỨC_ĂN_CHO_HEO,7000,kg,2023-01-27,2022-12-31
9,THỨC_ĂN_CHO_CÁ,8000,kg,2023-01-30,2022-12-31

In [9]:
SUPPLY_SOH=SUPPLY_SOH.rename(columns={'TỒN KHO CUỐI NGÀY 31/12/2022':'SỐ LƯỢNG'})
SUPPLY_SOH

              ITEM  SỐ LƯỢNG ĐƠN VỊ HẠN SỬ DỤNG     NGÀY VỀ
0            KHOAI     10000     kg  2023-02-12  2022-12-31
1              SẮN      3000     kg  2023-02-27  2022-12-31
2   XƯƠNG_ĐỘNG_VẬT      2000     kg  2023-01-26  2022-12-31
3     BỘT_ĐỖ_TƯƠNG      9000     kg  2023-02-20  2022-12-31
4      MEN_VI_SINH       200    lít  2023-01-25  2022-12-31
5              NGÔ     12000     kg  2023-02-02  2022-12-31
6             THÓC     13000     kg  2023-03-03  2022-12-31
7  BAO_BÌ_ĐÓNG_GÓI      1220    cái  2023-01-30  2022-12-31
8  THỨC_ĂN_CHO_HEO      7000     kg  2023-01-27  2022-12-31
9   THỨC_ĂN_CHO_CÁ      8000     kg  2023-01-30  2022-12-31

In [10]:
SUPPLY_ONGOING=pd.read_excel('DATA_ROUND2_SCHACKFEST2022.xlsx',sheet_name='4_SUPPLY-ONGOING')
SUPPLY_ONGOING

  NGUYÊN LIỆU MÃ ĐƠN ĐẶT HÀNG    NGÀY VỀ  SỐ LƯỢNG ĐƠN VỊ HẠN SỬ DỤNG
0       KHOAI           #PO12 2023-01-03      1800     kg  2023-04-13
1         NGÔ           #PO13 2023-01-05      1000     kg  2023-04-15
2         SẮN           #PO14 2023-01-12      1000     kg  2023-04-22

In [11]:
del SUPPLY_ONGOING['MÃ ĐƠN ĐẶT HÀNG']
SUPPLY_ONGOING=SUPPLY_ONGOING.rename(columns={'NGUYÊN LIỆU':'ITEM'})
SUPPLY_ONGOING

    ITEM    NGÀY VỀ  SỐ LƯỢNG ĐƠN VỊ HẠN SỬ DỤNG
0  KHOAI 2023-01-03      1800     kg  2023-04-13
1    NGÔ 2023-01-05      1000     kg  2023-04-15
2    SẮN 2023-01-12      1000     kg  2023-04-22

In [12]:
SUPPLY=pd.concat([SUPPLY_SOH,SUPPLY_ONGOING],axis=0)
SUPPLY

              ITEM  SỐ LƯỢNG ĐƠN VỊ HẠN SỬ DỤNG              NGÀY VỀ
0            KHOAI     10000     kg  2023-02-12           2022-12-31
1              SẮN      3000     kg  2023-02-27           2022-12-31
2   XƯƠNG_ĐỘNG_VẬT      2000     kg  2023-01-26           2022-12-31
3     BỘT_ĐỖ_TƯƠNG      9000     kg  2023-02-20           2022-12-31
4      MEN_VI_SINH       200    lít  2023-01-25           2022-12-31
5              NGÔ     12000     kg  2023-02-02           2022-12-31
6             THÓC     13000     kg  2023-03-03           2022-12-31
7  BAO_BÌ_ĐÓNG_GÓI      1220    cái  2023-01-30           2022-12-31
8  THỨC_ĂN_CHO_HEO      7000     kg  2023-01-27           2022-12-31
9   THỨC_ĂN_CHO_CÁ      8000     kg  2023-01-30           2022-12-31
0            KHOAI      1800     kg  2023-04-13  2023-01-03 00:00:00
1              NGÔ      1000     kg  2023-04-15  2023-01-05 00:00:00
2              SẮN      1000     kg  2023-04-22  2023-01-12 00:00:00

In [13]:
SUPPLY['NGÀY HẾT HẠN TỒN KHO']=0
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,KHOAI,10000,kg,2023-02-12,2022-12-31,0
1,SẮN,3000,kg,2023-02-27,2022-12-31,0
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,0
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,0
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,0
5,NGÔ,12000,kg,2023-02-02,2022-12-31,0
6,THÓC,13000,kg,2023-03-03,2022-12-31,0
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,0
8,THỨC_ĂN_CHO_HEO,7000,kg,2023-01-27,2022-12-31,0
9,THỨC_ĂN_CHO_CÁ,8000,kg,2023-01-30,2022-12-31,0
0,KHOAI,1800,kg,2023-04-13,2023-01-03 00:00:00,0
1,NGÔ,1000,kg,2023-04-15,2023-01-05 00:00:00,0
2,SẮN,1000,kg,2023-04-22,2023-01-12 00:00:00,0

In [14]:
SUPPLY[['NGÀY HẾT HẠN TỒN KHO','NGÀY VỀ']]=SUPPLY[['NGÀY HẾT HẠN TỒN KHO','NGÀY VỀ']].astype('datetime64[ns]')
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,KHOAI,10000,kg,2023-02-12,2022-12-31,1970-01-01
1,SẮN,3000,kg,2023-02-27,2022-12-31,1970-01-01
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,1970-01-01
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,1970-01-01
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,1970-01-01
5,NGÔ,12000,kg,2023-02-02,2022-12-31,1970-01-01
6,THÓC,13000,kg,2023-03-03,2022-12-31,1970-01-01
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,1970-01-01
8,THỨC_ĂN_CHO_HEO,7000,kg,2023-01-27,2022-12-31,1970-01-01
9,THỨC_ĂN_CHO_CÁ,8000,kg,2023-01-30,2022-12-31,1970-01-01
0,KHOAI,1800,kg,2023-04-13,2023-01-03,1970-01-01
1,NGÔ,1000,kg,2023-04-15,2023-01-05,1970-01-01
2,SẮN,1000,kg,2023-04-22,2023-01-12,1970-01-01

In [15]:
import datetime

In [16]:
SUPPLY['NGÀY HẾT HẠN TỒN KHO']=SUPPLY['NGÀY VỀ']+datetime.timedelta(30)
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,KHOAI,10000,kg,2023-02-12,2022-12-31,2023-01-30
1,SẮN,3000,kg,2023-02-27,2022-12-31,2023-01-30
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,2023-01-30
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,2023-01-30
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,2023-01-30
5,NGÔ,12000,kg,2023-02-02,2022-12-31,2023-01-30
6,THÓC,13000,kg,2023-03-03,2022-12-31,2023-01-30
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,2023-01-30
8,THỨC_ĂN_CHO_HEO,7000,kg,2023-01-27,2022-12-31,2023-01-30
9,THỨC_ĂN_CHO_CÁ,8000,kg,2023-01-30,2022-12-31,2023-01-30
0,KHOAI,1800,kg,2023-04-13,2023-01-03,2023-02-02
1,NGÔ,1000,kg,2023-04-15,2023-01-05,2023-02-04
2,SẮN,1000,kg,2023-04-22,2023-01-12,2023-02-11

In [17]:
SẢN_PHẨM_THỪA=SUPPLY[SUPPLY['ITEM'].str.contains('THỨC_ĂN_')]
SẢN_PHẨM_THỪA=SẢN_PHẨM_THỪA.rename(columns={'SỐ LƯỢNG':'SỐ LƯỢNG ĐANG TỒN'})
SẢN_PHẨM_THỪA

,ITEM,SỐ LƯỢNG ĐANG TỒN,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
8,THỨC_ĂN_CHO_HEO,7000,kg,2023-01-27,2022-12-31,2023-01-30
9,THỨC_ĂN_CHO_CÁ,8000,kg,2023-01-30,2022-12-31,2023-01-30

In [18]:
SẢN_PHẨM_THỪA['SỐ LƯỢNG ĐANG TỒN']=SẢN_PHẨM_THỪA['SỐ LƯỢNG ĐANG TỒN']/1000
SẢN_PHẨM_THỪA

,ITEM,SỐ LƯỢNG ĐANG TỒN,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
8,THỨC_ĂN_CHO_HEO,7.0,kg,2023-01-27,2022-12-31,2023-01-30
9,THỨC_ĂN_CHO_CÁ,8.0,kg,2023-01-30,2022-12-31,2023-01-30

In [19]:
DEMAND_NEW=SẢN_PHẨM_THỪA.merge(DEMAND_THANG1,how='left',on='ITEM')
DEMAND_NEW

,ITEM,SỐ LƯỢNG ĐANG TỒN,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO,DEMAND_MONTH,DEMAND_QTY
0,THỨC_ĂN_CHO_HEO,7.0,kg,2023-01-27,2022-12-31,2023-01-30,2023-01,18
1,THỨC_ĂN_CHO_CÁ,8.0,kg,2023-01-30,2022-12-31,2023-01-30,2023-01,16

In [20]:
DEMAND_NEW['SỐ LƯỢNG']=DEMAND_NEW['DEMAND_QTY']-DEMAND_NEW['SỐ LƯỢNG ĐANG TỒN']
DEMAND_NEW

,ITEM,SỐ LƯỢNG ĐANG TỒN,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO,DEMAND_MONTH,DEMAND_QTY,SỐ LƯỢNG
0,THỨC_ĂN_CHO_HEO,7.0,kg,2023-01-27,2022-12-31,2023-01-30,2023-01,18,11.0
1,THỨC_ĂN_CHO_CÁ,8.0,kg,2023-01-30,2022-12-31,2023-01-30,2023-01,16,8.0

In [21]:
del DEMAND_NEW['DEMAND_QTY']
DEMAND_NEW=DEMAND_NEW.rename(columns={'SỐ LƯỢNG':'DEMAND_QTY'})
DEMAND_NEW

,ITEM,SỐ LƯỢNG ĐANG TỒN,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO,DEMAND_MONTH,DEMAND_QTY
0,THỨC_ĂN_CHO_HEO,7.0,kg,2023-01-27,2022-12-31,2023-01-30,2023-01,11.0
1,THỨC_ĂN_CHO_CÁ,8.0,kg,2023-01-30,2022-12-31,2023-01-30,2023-01,8.0

In [22]:
DEMAND_NEW=DEMAND_NEW[['ITEM','DEMAND_MONTH','DEMAND_QTY']]
DEMAND_NEW=pd.concat([DEMAND_NEW,DEMAND],axis=0)
DEMAND_NEW

               ITEM DEMAND_MONTH  DEMAND_QTY
0   THỨC_ĂN_CHO_HEO      2023-01        11.0
1    THỨC_ĂN_CHO_CÁ      2023-01         8.0
2   THỨC_ĂN_CHO_HEO      2023-02        22.0
3    THỨC_ĂN_CHO_CÁ      2023-02        21.0
4   THỨC_ĂN_CHO_HEO      2023-03        30.0
5    THỨC_ĂN_CHO_CÁ      2023-03        22.0
6   THỨC_ĂN_CHO_HEO      2023-04        25.0
7    THỨC_ĂN_CHO_CÁ      2023-04        23.0
8   THỨC_ĂN_CHO_HEO      2023-05        24.0
9    THỨC_ĂN_CHO_CÁ      2023-05        23.0
10  THỨC_ĂN_CHO_HEO      2023-06        27.0
11   THỨC_ĂN_CHO_CÁ      2023-06        26.0

In [23]:
DEMAND_NEW['DEMAND_MONTH'].astype('datetime64[ns]')

0    2023-01-01
1    2023-01-01
2    2023-02-01
3    2023-02-01
4    2023-03-01
5    2023-03-01
6    2023-04-01
7    2023-04-01
8    2023-05-01
9    2023-05-01
10   2023-06-01
11   2023-06-01
Name: DEMAND_MONTH, dtype: datetime64[ns]

In [24]:
SUPPLY=SUPPLY.drop(8)
SUPPLY=SUPPLY.drop(9)
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,KHOAI,10000,kg,2023-02-12,2022-12-31,2023-01-30
1,SẮN,3000,kg,2023-02-27,2022-12-31,2023-01-30
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,2023-01-30
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,2023-01-30
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,2023-01-30
5,NGÔ,12000,kg,2023-02-02,2022-12-31,2023-01-30
6,THÓC,13000,kg,2023-03-03,2022-12-31,2023-01-30
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,2023-01-30
0,KHOAI,1800,kg,2023-04-13,2023-01-03,2023-02-02
1,NGÔ,1000,kg,2023-04-15,2023-01-05,2023-02-04
2,SẮN,1000,kg,2023-04-22,2023-01-12,2023-02-11

In [25]:
BOM=pd.read_excel('DATA_ROUND2_SCHACKFEST2022.xlsx',sheet_name='2_BOM')

In [26]:
BOM=BOM.rename(columns={'THÀNH PHẨM':'ITEM'})
BOM

,ITEM,NGUYÊN LIỆU,SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM),ĐƠN VỊ CỦA NGUYÊN LIỆU
0,THỨC_ĂN_CHO_HEO,NGÔ,400,kg
1,THỨC_ĂN_CHO_HEO,KHOAI,200,kg
2,THỨC_ĂN_CHO_HEO,SẮN,200,kg
3,THỨC_ĂN_CHO_HEO,XƯƠNG_ĐỘNG_VẬT,200,kg
4,THỨC_ĂN_CHO_HEO,MEN_VI_SINH,10,lít
5,THỨC_ĂN_CHO_HEO,BAO_BÌ_ĐÓNG_GÓI,40,cái
6,THỨC_ĂN_CHO_CÁ,NGÔ,500,kg
7,THỨC_ĂN_CHO_CÁ,BỘT_ĐỖ_TƯƠNG,300,kg
8,THỨC_ĂN_CHO_CÁ,THÓC,100,kg
9,THỨC_ĂN_CHO_CÁ,XƯƠNG_ĐỘNG_VẬT,100,kg
10,THỨC_ĂN_CHO_CÁ,MEN_VI_SINH,10,lít
11,THỨC_ĂN_CHO_CÁ,BAO_BÌ_ĐÓNG_GÓI,40,cái

In [27]:
DEMAND_MERGE=DEMAND_NEW.merge(BOM,how='inner',on='ITEM')

In [28]:
DEMAND_MERGE.tail(10)

,ITEM,DEMAND_MONTH,DEMAND_QTY,NGUYÊN LIỆU,SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM),ĐƠN VỊ CỦA NGUYÊN LIỆU
62,THỨC_ĂN_CHO_CÁ,2023-05,23.0,THÓC,100,kg
63,THỨC_ĂN_CHO_CÁ,2023-05,23.0,XƯƠNG_ĐỘNG_VẬT,100,kg
64,THỨC_ĂN_CHO_CÁ,2023-05,23.0,MEN_VI_SINH,10,lít
65,THỨC_ĂN_CHO_CÁ,2023-05,23.0,BAO_BÌ_ĐÓNG_GÓI,40,cái
66,THỨC_ĂN_CHO_CÁ,2023-06,26.0,NGÔ,500,kg
67,THỨC_ĂN_CHO_CÁ,2023-06,26.0,BỘT_ĐỖ_TƯƠNG,300,kg
68,THỨC_ĂN_CHO_CÁ,2023-06,26.0,THÓC,100,kg
69,THỨC_ĂN_CHO_CÁ,2023-06,26.0,XƯƠNG_ĐỘNG_VẬT,100,kg
70,THỨC_ĂN_CHO_CÁ,2023-06,26.0,MEN_VI_SINH,10,lít
71,THỨC_ĂN_CHO_CÁ,2023-06,26.0,BAO_BÌ_ĐÓNG_GÓI,40,cái

In [29]:
DEMAND_MERGE=DEMAND_MERGE.rename(columns={'ITEM':'THÀNH PHẨM','NGUYÊN LIỆU':'ITEM'})
DEMAND_MERGE

,THÀNH PHẨM,DEMAND_MONTH,DEMAND_QTY,ITEM,SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM),ĐƠN VỊ CỦA NGUYÊN LIỆU
0,THỨC_ĂN_CHO_HEO,2023-01,11.0,NGÔ,400,kg
1,THỨC_ĂN_CHO_HEO,2023-01,11.0,KHOAI,200,kg
2,THỨC_ĂN_CHO_HEO,2023-01,11.0,SẮN,200,kg
3,THỨC_ĂN_CHO_HEO,2023-01,11.0,XƯƠNG_ĐỘNG_VẬT,200,kg
4,THỨC_ĂN_CHO_HEO,2023-01,11.0,MEN_VI_SINH,10,lít
...,...,...,...,...,...,...
67,THỨC_ĂN_CHO_CÁ,2023-06,26.0,BỘT_ĐỖ_TƯƠNG,300,kg
68,THỨC_ĂN_CHO_CÁ,2023-06,26.0,THÓC,100,kg
69,THỨC_ĂN_CHO_CÁ,2023-06,26.0,XƯƠNG_ĐỘNG_VẬT,100,kg
70,THỨC_ĂN_CHO_CÁ,2023-06,26.0,MEN_VI_SINH,10,lít
71,THỨC_ĂN_CHO_CÁ,2023-06,26.0,BAO_BÌ_ĐÓNG_GÓI,40,cái

In [30]:
DEMAND_MERGE['NGLIEU_DEMAND_QTY']=DEMAND_MERGE['DEMAND_QTY']*DEMAND_MERGE['SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM)']
DEMAND_MERGE.head(20)

,THÀNH PHẨM,DEMAND_MONTH,DEMAND_QTY,ITEM,SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM),ĐƠN VỊ CỦA NGUYÊN LIỆU,NGLIEU_DEMAND_QTY
0,THỨC_ĂN_CHO_HEO,2023-01,11.0,NGÔ,400,kg,4400.0
1,THỨC_ĂN_CHO_HEO,2023-01,11.0,KHOAI,200,kg,2200.0
2,THỨC_ĂN_CHO_HEO,2023-01,11.0,SẮN,200,kg,2200.0
3,THỨC_ĂN_CHO_HEO,2023-01,11.0,XƯƠNG_ĐỘNG_VẬT,200,kg,2200.0
4,THỨC_ĂN_CHO_HEO,2023-01,11.0,MEN_VI_SINH,10,lít,110.0
5,THỨC_ĂN_CHO_HEO,2023-01,11.0,BAO_BÌ_ĐÓNG_GÓI,40,cái,440.0
6,THỨC_ĂN_CHO_HEO,2023-02,22.0,NGÔ,400,kg,8800.0
7,THỨC_ĂN_CHO_HEO,2023-02,22.0,KHOAI,200,kg,4400.0
8,THỨC_ĂN_CHO_HEO,2023-02,22.0,SẮN,200,kg,4400.0
9,THỨC_ĂN_CHO_HEO,2023-02,22.0,XƯƠNG_ĐỘNG_VẬT,200,kg,4400.0
10,THỨC_ĂN_CHO_HEO,2023-02,22.0,MEN_VI_SINH,10,lít,220.0
11,THỨC_ĂN_CHO_HEO,2023-02,22.0,BAO_BÌ_ĐÓNG_GÓI,40,cái,880.0
12,THỨC_ĂN_CHO_HEO,2023-03,30.0,NGÔ,400,kg,12000.0
13,THỨC_ĂN_CHO_HEO,2023-03,30.0,KHOAI,200,kg,6000.0
14,THỨC_ĂN_CHO_HEO,2023-03,30.0,SẮN,200,kg,6000.0
15,THỨC_ĂN_CHO_HEO,2023-03,30.0,XƯƠNG_ĐỘNG_VẬT,200,kg,6000.0
16,THỨC_ĂN_CHO_HEO,2023-03,30.0,MEN_VI_SINH,10,lít,300.0
17,THỨC_ĂN_CHO_HEO,2023-03,30.0,BAO_BÌ_ĐÓNG_GÓI,40,cái,1200.0
18,THỨC_ĂN_CHO_HEO,2023-04,25.0,NGÔ,400,kg,10000.0
19,THỨC_ĂN_CHO_HEO,2023-04,25.0,KHOAI,200,kg,5000.0

In [31]:
del DEMAND_MERGE['THÀNH PHẨM']
del DEMAND_MERGE['DEMAND_QTY']
DEMAND_MERGE

,DEMAND_MONTH,ITEM,SỐ LƯỢNG NGUYÊN LIỆU \n(TRÊN 1 TẤN THÀNH PHẨM),ĐƠN VỊ CỦA NGUYÊN LIỆU,NGLIEU_DEMAND_QTY
0,2023-01,NGÔ,400,kg,4400.0
1,2023-01,KHOAI,200,kg,2200.0
2,2023-01,SẮN,200,kg,2200.0
3,2023-01,XƯƠNG_ĐỘNG_VẬT,200,kg,2200.0
4,2023-01,MEN_VI_SINH,10,lít,110.0
...,...,...,...,...,...
67,2023-06,BỘT_ĐỖ_TƯƠNG,300,kg,7800.0
68,2023-06,THÓC,100,kg,2600.0
69,2023-06,XƯƠNG_ĐỘNG_VẬT,100,kg,2600.0
70,2023-06,MEN_VI_SINH,10,lít,260.0
71,2023-06,BAO_BÌ_ĐÓNG_GÓI,40,cái,1040.0

In [32]:
DEMAND_MERGE.groupby(['ITEM','DEMAND_MONTH'])['NGLIEU_DEMAND_QTY'].sum().to_excel('DEMAND_FINAL.xlsx')

In [33]:
DEMAND_FINAL=pd.read_excel('DEMAND_FINAL.xlsx')
DEMAND_FINAL

               ITEM DEMAND_MONTH  NGLIEU_DEMAND_QTY
0   BAO_BÌ_ĐÓNG_GÓI      2023-01                760
1   BAO_BÌ_ĐÓNG_GÓI      2023-02               1720
2   BAO_BÌ_ĐÓNG_GÓI      2023-03               2080
3   BAO_BÌ_ĐÓNG_GÓI      2023-04               1920
4   BAO_BÌ_ĐÓNG_GÓI      2023-05               1880
5   BAO_BÌ_ĐÓNG_GÓI      2023-06               2120
6      BỘT_ĐỖ_TƯƠNG      2023-01               2400
7      BỘT_ĐỖ_TƯƠNG      2023-02               6300
8      BỘT_ĐỖ_TƯƠNG      2023-03               6600
9      BỘT_ĐỖ_TƯƠNG      2023-04               6900
10     BỘT_ĐỖ_TƯƠNG      2023-05               6900
11     BỘT_ĐỖ_TƯƠNG      2023-06               7800
12            KHOAI      2023-01               2200
13            KHOAI      2023-02               4400
14            KHOAI      2023-03               6000
15            KHOAI      2023-04               5000
16            KHOAI      2023-05               4800
17            KHOAI      2023-06               5400
18      MEN_VI_SINH      2023-01                190
19      MEN_VI_SINH      2023-02                430
20      MEN_VI_SINH      2023-03                520
21      MEN_VI_SINH      2023-04                480
22      MEN_VI_SINH      2023-05                470
23      MEN_VI_SINH      2023-06                530
24              NGÔ      2023-01               8400
25              NGÔ      2023-02              19300
26              NGÔ      2023-03              23000
27              NGÔ      2023-04              21500
28              NGÔ      2023-05              21100
29              NGÔ      2023-06              23800
30              SẮN      2023-01               2200
31              SẮN      2023-02               4400
32              SẮN      2023-03               6000
33              SẮN      2023-04               5000
34              SẮN      2023-05               4800
35              SẮN      2023-06               5400
36             THÓC      2023-01                800
37             THÓC      2023-02               2100
38             THÓC      2023-03               2200
39             THÓC      2023-04               2300
40             THÓC      2023-05               2300
41             THÓC      2023-06               2600
42   XƯƠNG_ĐỘNG_VẬT      2023-01               3000
43   XƯƠNG_ĐỘNG_VẬT      2023-02               6500
44   XƯƠNG_ĐỘNG_VẬT      2023-03               8200
45   XƯƠNG_ĐỘNG_VẬT      2023-04               7300
46   XƯƠNG_ĐỘNG_VẬT      2023-05               7100
47   XƯƠNG_ĐỘNG_VẬT      2023-06               8000

In [34]:
DEMAND_FINAL['DEMAND_MONTH']=DEMAND_FINAL['DEMAND_MONTH'].astype('datetime64[ns]')

In [35]:
DEMAND_FINAL['MONTH']=DEMAND_FINAL['DEMAND_MONTH'].dt.month
DEMAND_FINAL

               ITEM DEMAND_MONTH  NGLIEU_DEMAND_QTY  MONTH
0   BAO_BÌ_ĐÓNG_GÓI   2023-01-01                760      1
1   BAO_BÌ_ĐÓNG_GÓI   2023-02-01               1720      2
2   BAO_BÌ_ĐÓNG_GÓI   2023-03-01               2080      3
3   BAO_BÌ_ĐÓNG_GÓI   2023-04-01               1920      4
4   BAO_BÌ_ĐÓNG_GÓI   2023-05-01               1880      5
5   BAO_BÌ_ĐÓNG_GÓI   2023-06-01               2120      6
6      BỘT_ĐỖ_TƯƠNG   2023-01-01               2400      1
7      BỘT_ĐỖ_TƯƠNG   2023-02-01               6300      2
8      BỘT_ĐỖ_TƯƠNG   2023-03-01               6600      3
9      BỘT_ĐỖ_TƯƠNG   2023-04-01               6900      4
10     BỘT_ĐỖ_TƯƠNG   2023-05-01               6900      5
11     BỘT_ĐỖ_TƯƠNG   2023-06-01               7800      6
12            KHOAI   2023-01-01               2200      1
13            KHOAI   2023-02-01               4400      2
14            KHOAI   2023-03-01               6000      3
15            KHOAI   2023-04-01               5000      4
16            KHOAI   2023-05-01               4800      5
17            KHOAI   2023-06-01               5400      6
18      MEN_VI_SINH   2023-01-01                190      1
19      MEN_VI_SINH   2023-02-01                430      2
20      MEN_VI_SINH   2023-03-01                520      3
21      MEN_VI_SINH   2023-04-01                480      4
22      MEN_VI_SINH   2023-05-01                470      5
23      MEN_VI_SINH   2023-06-01                530      6
24              NGÔ   2023-01-01               8400      1
25              NGÔ   2023-02-01              19300      2
26              NGÔ   2023-03-01              23000      3
27              NGÔ   2023-04-01              21500      4
28              NGÔ   2023-05-01              21100      5
29              NGÔ   2023-06-01              23800      6
30              SẮN   2023-01-01               2200      1
31              SẮN   2023-02-01               4400      2
32              SẮN   2023-03-01               6000      3
33              SẮN   2023-04-01               5000      4
34              SẮN   2023-05-01               4800      5
35              SẮN   2023-06-01               5400      6
36             THÓC   2023-01-01                800      1
37             THÓC   2023-02-01               2100      2
38             THÓC   2023-03-01               2200      3
39             THÓC   2023-04-01               2300      4
40             THÓC   2023-05-01               2300      5
41             THÓC   2023-06-01               2600      6
42   XƯƠNG_ĐỘNG_VẬT   2023-01-01               3000      1
43   XƯƠNG_ĐỘNG_VẬT   2023-02-01               6500      2
44   XƯƠNG_ĐỘNG_VẬT   2023-03-01               8200      3
45   XƯƠNG_ĐỘNG_VẬT   2023-04-01               7300      4
46   XƯƠNG_ĐỘNG_VẬT   2023-05-01               7100      5
47   XƯƠNG_ĐỘNG_VẬT   2023-06-01               8000      6

In [36]:
SUPPLY=SUPPLY.sort_values(by=['ITEM','NGÀY HẾT HẠN TỒN KHO'])
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,2023-01-30
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,2023-01-30
0,KHOAI,10000,kg,2023-02-12,2022-12-31,2023-01-30
0,KHOAI,1800,kg,2023-04-13,2023-01-03,2023-02-02
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,2023-01-30
5,NGÔ,12000,kg,2023-02-02,2022-12-31,2023-01-30
1,NGÔ,1000,kg,2023-04-15,2023-01-05,2023-02-04
1,SẮN,3000,kg,2023-02-27,2022-12-31,2023-01-30
2,SẮN,1000,kg,2023-04-22,2023-01-12,2023-02-11
6,THÓC,13000,kg,2023-03-03,2022-12-31,2023-01-30
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,2023-01-30

In [37]:
SUPPLY['MONTH']=SUPPLY['HẠN SỬ DỤNG'].dt.month
SUPPLY

,ITEM,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO,MONTH
7,BAO_BÌ_ĐÓNG_GÓI,1220,cái,2023-01-30,2022-12-31,2023-01-30,1
3,BỘT_ĐỖ_TƯƠNG,9000,kg,2023-02-20,2022-12-31,2023-01-30,2
0,KHOAI,10000,kg,2023-02-12,2022-12-31,2023-01-30,2
0,KHOAI,1800,kg,2023-04-13,2023-01-03,2023-02-02,4
4,MEN_VI_SINH,200,lít,2023-01-25,2022-12-31,2023-01-30,1
5,NGÔ,12000,kg,2023-02-02,2022-12-31,2023-01-30,2
1,NGÔ,1000,kg,2023-04-15,2023-01-05,2023-02-04,4
1,SẮN,3000,kg,2023-02-27,2022-12-31,2023-01-30,2
2,SẮN,1000,kg,2023-04-22,2023-01-12,2023-02-11,4
6,THÓC,13000,kg,2023-03-03,2022-12-31,2023-01-30,3
2,XƯƠNG_ĐỘNG_VẬT,2000,kg,2023-01-26,2022-12-31,2023-01-30,1

In [38]:
DF_MERGE=DEMAND_FINAL.merge(SUPPLY,how='left',on=['ITEM','MONTH'])
DF_MERGE.head(12)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,MONTH,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1,1220.0,cái,2023-01-30,2022-12-31,2023-01-30
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,2,NaN,NaN,NaT,NaT,NaT
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,3,NaN,NaN,NaT,NaT,NaT
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,4,NaN,NaN,NaT,NaT,NaT
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,5,NaN,NaN,NaT,NaT,NaT
5,BAO_BÌ_ĐÓNG_GÓI,2023-06-01,2120,6,NaN,NaN,NaT,NaT,NaT
6,BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,1,NaN,NaN,NaT,NaT,NaT
7,BỘT_ĐỖ_TƯƠNG,2023-02-01,6300,2,9000.0,kg,2023-02-20,2022-12-31,2023-01-30
8,BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,3,NaN,NaN,NaT,NaT,NaT
9,BỘT_ĐỖ_TƯƠNG,2023-04-01,6900,4,NaN,NaN,NaT,NaT,NaT
10,BỘT_ĐỖ_TƯƠNG,2023-05-01,6900,5,NaN,NaN,NaT,NaT,NaT
11,BỘT_ĐỖ_TƯƠNG,2023-06-01,7800,6,NaN,NaN,NaT,NaT,NaT

In [39]:
DF_MERGE=DF_MERGE.fillna(0)
DF_MERGE.head()

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,MONTH,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1,1220.0,cái,2023-01-30 00:00:00,2022-12-31 00:00:00,2023-01-30 00:00:00
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,2,0.0,0,0,0,0
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,3,0.0,0,0,0,0
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,4,0.0,0,0,0,0
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,5,0.0,0,0,0,0

In [40]:
DF_MERGE['SỐ LƯỢNG']=DF_MERGE['SỐ LƯỢNG'].astype('int64')

In [41]:
DF_MERGE['THỪA/THIẾU']=DF_MERGE['SỐ LƯỢNG']-DF_MERGE['NGLIEU_DEMAND_QTY']
DF_MERGE.head()

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,MONTH,SỐ LƯỢNG,ĐƠN VỊ,HẠN SỬ DỤNG,NGÀY VỀ,NGÀY HẾT HẠN TỒN KHO,THỪA/THIẾU
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1,1220,cái,2023-01-30 00:00:00,2022-12-31 00:00:00,2023-01-30 00:00:00,460
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,2,0,0,0,0,0,-1720
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,3,0,0,0,0,0,-2080
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,4,0,0,0,0,0,-1920
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,5,0,0,0,0,0,-1880

In [42]:
del DF_MERGE['NGÀY VỀ']
del DF_MERGE['MONTH']
del DF_MERGE['ĐƠN VỊ']
del DF_MERGE['NGÀY HẾT HẠN TỒN KHO']
DF_MERGE.head()

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220,2023-01-30 00:00:00,460
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0,0,-2080
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0,0,-1920
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0,0,-1880

In [43]:
DF_MERGE['CUMSUM_THỪA/THIẾU']=DF_MERGE.groupby('ITEM')['THỪA/THIẾU'].cumsum()
DF_MERGE.head(2)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220,2023-01-30 00:00:00,460,460
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260

In [44]:
ITEM_MASTER=pd.read_excel('DATA_ROUND2_SCHACKFEST2022.xlsx',sheet_name='5_ITEM MASTER - RAW')
del ITEM_MASTER['LOẠI']
del ITEM_MASTER['Đơn vị']
ITEM_MASTER

,ITEM,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)
0,KHOAI,CÔNG TY TNHH NARGI,7,1000,100.0
1,SẮN,CÔNG TY TNHH NARGI,7,1000,100.0
2,NGÔ,CÔNG TY TNHH NARGI,7,3000,100.0
3,BỘT_ĐỖ_TƯƠNG,CÔNG TY TNHH NARGI,7,1000,100.0
4,THÓC,CÔNG TY TNHH NARGI,7,1000,100.0
5,XƯƠNG_ĐỘNG_VẬT,CÔNG TY CP YFOOD,7,1000,30.0
6,MEN_VI_SINH,CÔNG TY VNIBIO,2,100,30.0
7,BAO_BÌ_ĐÓNG_GÓI,CÔNG TY TNHH WOPACK,7,500,NaN

In [45]:
DF_MERGE2=DF_MERGE.merge(ITEM_MASTER,how='left',on='ITEM')
DF_MERGE2.head(10)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220,2023-01-30 00:00:00,460,460,CÔNG TY TNHH WOPACK,7,500,NaN
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0,0,-2080,-3340,CÔNG TY TNHH WOPACK,7,500,NaN
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0,0,-1920,-5260,CÔNG TY TNHH WOPACK,7,500,NaN
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0,0,-1880,-7140,CÔNG TY TNHH WOPACK,7,500,NaN
5,BAO_BÌ_ĐÓNG_GÓI,2023-06-01,2120,0,0,-2120,-9260,CÔNG TY TNHH WOPACK,7,500,NaN
6,BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0
7,BỘT_ĐỖ_TƯƠNG,2023-02-01,6300,9000,2023-02-20 00:00:00,2700,300,CÔNG TY TNHH NARGI,7,1000,100.0
8,BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0,0,-6600,-6300,CÔNG TY TNHH NARGI,7,1000,100.0
9,BỘT_ĐỖ_TƯƠNG,2023-04-01,6900,0,0,-6900,-13200,CÔNG TY TNHH NARGI,7,1000,100.0

In [46]:
DAT_HANG=DF_MERGE2[DF_MERGE2['CUMSUM_THỪA/THIẾU']<0]
DAT_HANG.head(10)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0,0,-2080,-3340,CÔNG TY TNHH WOPACK,7,500,NaN
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0,0,-1920,-5260,CÔNG TY TNHH WOPACK,7,500,NaN
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0,0,-1880,-7140,CÔNG TY TNHH WOPACK,7,500,NaN
5,BAO_BÌ_ĐÓNG_GÓI,2023-06-01,2120,0,0,-2120,-9260,CÔNG TY TNHH WOPACK,7,500,NaN
6,BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0
8,BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0,0,-6600,-6300,CÔNG TY TNHH NARGI,7,1000,100.0
9,BỘT_ĐỖ_TƯƠNG,2023-04-01,6900,0,0,-6900,-13200,CÔNG TY TNHH NARGI,7,1000,100.0
10,BỘT_ĐỖ_TƯƠNG,2023-05-01,6900,0,0,-6900,-20100,CÔNG TY TNHH NARGI,7,1000,100.0
11,BỘT_ĐỖ_TƯƠNG,2023-06-01,7800,0,0,-7800,-27900,CÔNG TY TNHH NARGI,7,1000,100.0

In [47]:
DAT_HANG1=DAT_HANG.groupby('ITEM').first()
DAT_HANG1

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)
ITEM,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0
KHOAI,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0
MEN_VI_SINH,2023-02-01,430,0,0,-430,-420,CÔNG TY VNIBIO,2,100,30.0
NGÔ,2023-01-01,8400,0,0,-8400,-8400,CÔNG TY TNHH NARGI,7,3000,100.0
SẮN,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0
THÓC,2023-01-01,800,0,0,-800,-800,CÔNG TY TNHH NARGI,7,1000,100.0
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000,2023-01-26 00:00:00,-1000,-1000,CÔNG TY CP YFOOD,7,1000,30.0

In [48]:
DAT_HANG1['NGÀY ĐẶT']=DAT_HANG1['DEMAND_MONTH']-datetime.timedelta(7)
DAT_HANG1

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT
ITEM,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25
KHOAI,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25
MEN_VI_SINH,2023-02-01,430,0,0,-430,-420,CÔNG TY VNIBIO,2,100,30.0,2023-01-25
NGÔ,2023-01-01,8400,0,0,-8400,-8400,CÔNG TY TNHH NARGI,7,3000,100.0,2022-12-25
SẮN,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25
THÓC,2023-01-01,800,0,0,-800,-800,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000,2023-01-26 00:00:00,-1000,-1000,CÔNG TY CP YFOOD,7,1000,30.0,2022-12-25

In [49]:
DAT_HANG1['LƯỢNG ĐẶT']=-DAT_HANG1['CUMSUM_THỪA/THIẾU']
DAT_HANG1

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25,1260
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2400
KHOAI,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200
MEN_VI_SINH,2023-02-01,430,0,0,-430,-420,CÔNG TY VNIBIO,2,100,30.0,2023-01-25,420
NGÔ,2023-01-01,8400,0,0,-8400,-8400,CÔNG TY TNHH NARGI,7,3000,100.0,2022-12-25,8400
SẮN,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200
THÓC,2023-01-01,800,0,0,-800,-800,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,800
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000,2023-01-26 00:00:00,-1000,-1000,CÔNG TY CP YFOOD,7,1000,30.0,2022-12-25,1000

In [50]:
dat_bang_thieu1=DAT_HANG1[-DAT_HANG1['CUMSUM_THỪA/THIẾU']>DAT_HANG1['MOQ']]
dat_bang_thieu1

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25,1260
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2400
KHOAI,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200
MEN_VI_SINH,2023-02-01,430,0,0,-430,-420,CÔNG TY VNIBIO,2,100,30.0,2023-01-25,420
NGÔ,2023-01-01,8400,0,0,-8400,-8400,CÔNG TY TNHH NARGI,7,3000,100.0,2022-12-25,8400
SẮN,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200

In [51]:
dat_hon_thieu1=DAT_HANG1[-DAT_HANG1['CUMSUM_THỪA/THIẾU']<DAT_HANG1['MOQ']]
dat_hon_thieu1

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
THÓC,2023-01-01,800,0,0,-800,-800,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,800

In [52]:
dat_hon_thieu1['LƯỢNG ĐẶT']=dat_hon_thieu1['MOQ']
dat_hon_thieu1

C:\Users\Na\AppData\Local\Temp\ipykernel_1636\1375799082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_hon_thieu1['LƯỢNG ĐẶT']=dat_hon_thieu1['MOQ']

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
THÓC,2023-01-01,800,0,0,-800,-800,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,1000

In [53]:
DAT_HANG1=pd.concat([dat_bang_thieu1,dat_hon_thieu1],axis=0)
DAT_HANG1.head()

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25,1260
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0,0,-2400,-2400,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2400
KHOAI,2023-01-01,2200,0,0,-2200,-2200,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200
MEN_VI_SINH,2023-02-01,430,0,0,-430,-420,CÔNG TY VNIBIO,2,100,30.0,2023-01-25,420
NGÔ,2023-01-01,8400,0,0,-8400,-8400,CÔNG TY TNHH NARGI,7,3000,100.0,2022-12-25,8400

In [54]:
DF_MERGE2.columns

Index(['ITEM', 'DEMAND_MONTH', 'NGLIEU_DEMAND_QTY', 'SỐ LƯỢNG', 'HẠN SỬ DỤNG',
       'THỪA/THIẾU', 'CUMSUM_THỪA/THIẾU', 'NHÀ CUNG CẤP',
       'LEADTIME ĐẶT HÀNG (NGÀY)', 'MOQ',
       'SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)'],
      dtype='object')

In [55]:
DF_MERGE2=DF_MERGE2.merge(DAT_HANG1,how='left',on=['ITEM', 'DEMAND_MONTH', 'NGLIEU_DEMAND_QTY', 'SỐ LƯỢNG', 'HẠN SỬ DỤNG',
       'THỪA/THIẾU', 'CUMSUM_THỪA/THIẾU', 'NHÀ CUNG CẤP',
       'LEADTIME ĐẶT HÀNG (NGÀY)', 'MOQ',
       'SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY)'])
DF_MERGE2.head()

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220,2023-01-30 00:00:00,460,460,CÔNG TY TNHH WOPACK,7,500,NaN,NaT,NaN
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25,1260.0
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0,0,-2080,-3340,CÔNG TY TNHH WOPACK,7,500,NaN,NaT,NaN
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0,0,-1920,-5260,CÔNG TY TNHH WOPACK,7,500,NaN,NaT,NaN
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0,0,-1880,-7140,CÔNG TY TNHH WOPACK,7,500,NaN,NaT,NaN

In [56]:
DF_MERGE2=DF_MERGE2.fillna(0)
DF_MERGE2.head()

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220,2023-01-30 00:00:00,460,460,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0,0,-1720,-1260,CÔNG TY TNHH WOPACK,7,500,0.0,2023-01-25 00:00:00,1260.0
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0,0,-2080,-3340,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0,0,-1920,-5260,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0,0,-1880,-7140,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0

In [57]:
DF_MERGE2['SỐ LƯỢNG']=DF_MERGE2['SỐ LƯỢNG']+DF_MERGE2['LƯỢNG ĐẶT']

In [58]:
DF_MERGE2['THỪA/THIẾU']=DF_MERGE2['SỐ LƯỢNG']-DF_MERGE2['NGLIEU_DEMAND_QTY']

In [59]:
DF_MERGE2['CUMSUM_THỪA/THIẾU']=DF_MERGE2.groupby('ITEM')['THỪA/THIẾU'].cumsum()
DF_MERGE2.head(10)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
0,BAO_BÌ_ĐÓNG_GÓI,2023-01-01,760,1220.0,2023-01-30 00:00:00,460.0,460.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
1,BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,1260.0,0,-460.0,0.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-01-25 00:00:00,1260.0
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0.0,0,-1920.0,-4000.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0.0,0,-1880.0,-5880.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
5,BAO_BÌ_ĐÓNG_GÓI,2023-06-01,2120,0.0,0,-2120.0,-8000.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
6,BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,2400.0,0,0.0,0.0,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25 00:00:00,2400.0
7,BỘT_ĐỖ_TƯƠNG,2023-02-01,6300,9000.0,2023-02-20 00:00:00,2700.0,2700.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
8,BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
9,BỘT_ĐỖ_TƯƠNG,2023-04-01,6900,0.0,0,-6900.0,-10800.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0

In [60]:
DAT_HANG=DF_MERGE2[DF_MERGE2['CUMSUM_THỪA/THIẾU']<0]
DAT_HANG.head(10)

,ITEM,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
2,BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
3,BAO_BÌ_ĐÓNG_GÓI,2023-04-01,1920,0.0,0,-1920.0,-4000.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
4,BAO_BÌ_ĐÓNG_GÓI,2023-05-01,1880,0.0,0,-1880.0,-5880.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
5,BAO_BÌ_ĐÓNG_GÓI,2023-06-01,2120,0.0,0,-2120.0,-8000.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
8,BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
9,BỘT_ĐỖ_TƯƠNG,2023-04-01,6900,0.0,0,-6900.0,-10800.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
10,BỘT_ĐỖ_TƯƠNG,2023-05-01,6900,0.0,0,-6900.0,-17700.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
11,BỘT_ĐỖ_TƯƠNG,2023-06-01,7800,0.0,0,-7800.0,-25500.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
14,KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
15,KHOAI,2023-04-01,5000,1800.0,2023-04-13 00:00:00,-3200.0,-3600.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0

In [61]:
DAT_HANG2=DAT_HANG.groupby('ITEM').first()
DAT_HANG2

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,0,0.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,0,0.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,0,0.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
THÓC,2023-02-01,2100,0.0,0,-2100.0,-1900.0,CÔNG TY TNHH NARGI,7,1000,100.0,0,0.0
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000.0,2023-01-26 00:00:00,-1000.0,-1000.0,CÔNG TY CP YFOOD,7,1000,30.0,0,0.0

In [62]:
DAT_HANG2['NGÀY ĐẶT']=DAT_HANG2['DEMAND_MONTH']-datetime.timedelta(7)
DAT_HANG2

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-02-22,0.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,0.0
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,0.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,2023-02-22,0.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,2023-01-25,0.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,0.0
THÓC,2023-02-01,2100,0.0,0,-2100.0,-1900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,0.0
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000.0,2023-01-26 00:00:00,-1000.0,-1000.0,CÔNG TY CP YFOOD,7,1000,30.0,2022-12-25,0.0

In [63]:
DAT_HANG2['LƯỢNG ĐẶT']=-DAT_HANG2['CUMSUM_THỪA/THIẾU']
DAT_HANG2

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-02-22,2080.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,3900.0
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,400.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,2023-02-22,520.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,2023-01-25,7300.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1400.0
THÓC,2023-02-01,2100,0.0,0,-2100.0,-1900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1900.0
XƯƠNG_ĐỘNG_VẬT,2023-01-01,3000,2000.0,2023-01-26 00:00:00,-1000.0,-1000.0,CÔNG TY CP YFOOD,7,1000,30.0,2022-12-25,1000.0

In [64]:
dat_bang_thieu2=DAT_HANG2[-DAT_HANG2['CUMSUM_THỪA/THIẾU']>DAT_HANG2['MOQ']]
dat_bang_thieu2

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-02-22,2080.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,3900.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,2023-02-22,520.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,2023-01-25,7300.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1400.0
THÓC,2023-02-01,2100,0.0,0,-2100.0,-1900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1900.0

In [65]:
dat_hon_thieu2=DAT_HANG2[-DAT_HANG2['CUMSUM_THỪA/THIẾU']<DAT_HANG2['MOQ']]
dat_hon_thieu2

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,400.0

In [66]:
dat_hon_thieu2['LƯỢNG ĐẶT']=dat_hon_thieu2['MOQ']
dat_hon_thieu2

C:\Users\Na\AppData\Local\Temp\ipykernel_1636\676122926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat_hon_thieu2['LƯỢNG ĐẶT']=dat_hon_thieu2['MOQ']

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,1000

In [67]:
DAT_HANG2=pd.concat([dat_bang_thieu2,dat_hon_thieu2],axis=0)
DAT_HANG2.head()

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-02-22,2080.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,3900.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,2023-02-22,520.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,2023-01-25,7300.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1400.0

In [68]:
DAT_HANG_FINAL=pd.concat([DAT_HANG1,DAT_HANG2],axis=0)
DAT_HANG_FINAL

,DEMAND_MONTH,NGLIEU_DEMAND_QTY,SỐ LƯỢNG,HẠN SỬ DỤNG,THỪA/THIẾU,CUMSUM_THỪA/THIẾU,NHÀ CUNG CẤP,LEADTIME ĐẶT HÀNG (NGÀY),MOQ,SHELF LIFE ĐƯỢC ƯỚC TÍNH KỂ TỪ NGÀY NHẬP KHO (NGÀY),NGÀY ĐẶT,LƯỢNG ĐẶT
ITEM,,,,,,,,,,,,
BAO_BÌ_ĐÓNG_GÓI,2023-02-01,1720,0.0,0,-1720.0,-1260.0,CÔNG TY TNHH WOPACK,7,500,NaN,2023-01-25,1260.0
BỘT_ĐỖ_TƯƠNG,2023-01-01,2400,0.0,0,-2400.0,-2400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2400.0
KHOAI,2023-01-01,2200,0.0,0,-2200.0,-2200.0,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200.0
MEN_VI_SINH,2023-02-01,430,0.0,0,-430.0,-420.0,CÔNG TY VNIBIO,2,100,30.0,2023-01-25,420.0
NGÔ,2023-01-01,8400,0.0,0,-8400.0,-8400.0,CÔNG TY TNHH NARGI,7,3000,100.0,2022-12-25,8400.0
SẮN,2023-01-01,2200,0.0,0,-2200.0,-2200.0,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,2200.0
THÓC,2023-01-01,800,0.0,0,-800.0,-800.0,CÔNG TY TNHH NARGI,7,1000,100.0,2022-12-25,1000.0
BAO_BÌ_ĐÓNG_GÓI,2023-03-01,2080,0.0,0,-2080.0,-2080.0,CÔNG TY TNHH WOPACK,7,500,0.0,2023-02-22,2080.0
BỘT_ĐỖ_TƯƠNG,2023-03-01,6600,0.0,0,-6600.0,-3900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,3900.0
MEN_VI_SINH,2023-03-01,520,0.0,0,-520.0,-520.0,CÔNG TY VNIBIO,2,100,30.0,2023-02-22,520.0
NGÔ,2023-02-01,19300,12000.0,2023-02-02 00:00:00,-7300.0,-7300.0,CÔNG TY TNHH NARGI,7,3000,100.0,2023-01-25,7300.0
SẮN,2023-02-01,4400,3000.0,2023-02-27 00:00:00,-1400.0,-1400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1400.0
THÓC,2023-02-01,2100,0.0,0,-2100.0,-1900.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-01-25,1900.0
KHOAI,2023-03-01,6000,0.0,0,-6000.0,-400.0,CÔNG TY TNHH NARGI,7,1000,100.0,2023-02-22,1000.0

In [69]:
DAT_HANG_FINAL=DAT_HANG_FINAL.replace('2022-12-25','2023-01-01')

In [70]:
DAT_HANG_FINAL=DAT_HANG_FINAL[['NHÀ CUNG CẤP','NGÀY ĐẶT','LƯỢNG ĐẶT']]
DAT_HANG_FINAL

                        NHÀ CUNG CẤP   NGÀY ĐẶT  LƯỢNG ĐẶT
ITEM
BAO_BÌ_ĐÓNG_GÓI  CÔNG TY TNHH WOPACK 2023-01-25     1260.0
BỘT_ĐỖ_TƯƠNG      CÔNG TY TNHH NARGI 2023-01-01     2400.0
KHOAI             CÔNG TY TNHH NARGI 2023-01-01     2200.0
MEN_VI_SINH           CÔNG TY VNIBIO 2023-01-25      420.0
NGÔ               CÔNG TY TNHH NARGI 2023-01-01     8400.0
SẮN               CÔNG TY TNHH NARGI 2023-01-01     2200.0
THÓC              CÔNG TY TNHH NARGI 2023-01-01     1000.0
BAO_BÌ_ĐÓNG_GÓI  CÔNG TY TNHH WOPACK 2023-02-22     2080.0
BỘT_ĐỖ_TƯƠNG      CÔNG TY TNHH NARGI 2023-02-22     3900.0
MEN_VI_SINH           CÔNG TY VNIBIO 2023-02-22      520.0
NGÔ               CÔNG TY TNHH NARGI 2023-01-25     7300.0
SẮN               CÔNG TY TNHH NARGI 2023-01-25     1400.0
THÓC              CÔNG TY TNHH NARGI 2023-01-25     1900.0
KHOAI             CÔNG TY TNHH NARGI 2023-02-22     1000.0